
{% extends 'layouts/base.html.twig' %}

{% block title 'inscription' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h2 class="text-center mb-3">Inscription</h2>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
