{% extends 'base.html.twig' %}

{% block title 'edit pin # ' %}

{% block body %}
    <h2>Edit pin</h2>
    {{ form_start(editForm) }}
    {{ form_widget(editForm) }}
    <input type="submit" value="Update pin">
    {{ form_end(editForm) }}
{% endblock %}
