<footer class="container text-center mt-5">
    <p class="text-mutted">
        &copy; {{ 'now'|date('Y') }} &middot;
        Built with <span class="text-danger">&hearts; by Baptiste FALBIERSKI</span><br>
        Ceci est un projet personnel pour montrer mes compétences en Symfony
    </p>
</footer>